.descript-ion-input {
	width: 100%;
	min-height: 12em;
	resize: vertical;
}

.descript-ion-target {
	overflow-wrap: anywhere;
}

.descript-ion-message {
	color: var(--text-error);
	white-space: pre-wrap;
}
